/* Base Styles */
:root {
  --main-primary: #da7127;
  --main-background: #F4F4F4;
  --main-accent:  #333333;
  --main-blue:  #3498DB ;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 65%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem; 
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--main-background);
    color: var(--main-accent);
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1.5rem;
  }

  .header {
    position: relative;
  }
  
  .navbar {
    display:  flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    margin: auto;
    background-color: var(--main-primary);
    position: sticky;
    top: 0;
    left:0;
    z-index: 1000;
  }

  .navbar-nav {
    justify-content: center;
  }
  
  .nav-link {
    padding: 0.5rem 1rem;
  }
  
  /* Add an active class styling */
.nav-link.active {
  color: var(--main-blue); 
  font-weight: bold; 
}

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: var(--main-background);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: var(--main-background);
  }
  
.hero {
  background-color: var(--main-background);
  color: var(--main-accent);
  padding: 8rem 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  margin-right: 6rem;
  margin-left: 6rem;
}

.intro .row {
  display: flex;
  align-items: center;
}

.intro .col-md-6,
.intro .col-md-6 {
  flex: 1;
}

.intro-buttons {
  margin-top: 3rem;
}

.intro .headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .intro .profile-picture {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .intro .profile-picture img {
    border-radius: 50%;
    width: 80%;
    height: auto;
  }

  .intro-text {
    padding: 4rem 4rem; /* Adjust padding as needed */
    color: var(--main-accent);
    background-color: var(--main-background); /* Set background color */
    border-radius: 10px; /* Add border-radius for a rounded box effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
 
  /* Portfolio Styles */
  #portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 6rem 0;
    padding-top: 80px;
  }
  .card {
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.05);
  }

  .project-tile {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.3s;
  }
  
  .project-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .project-tile img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .project-title {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .project-description {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
  }
  
  /* Skills section */
  #skills {
    max-width: 65rem;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

#skills .card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    margin: 10px;
}

#skills .card-body {
  display: flex;
  text-align: center;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  height: 100%;
}

#skills .card-title {
    font-size: 20px;
    text-align: center;
    color: var(--main-accent);
}
  
  /* Contact Styles */
  #contact {
    padding: 6rem 0;
  }
  .card-text {
    word-wrap: break-word;
  }

  /* Footer Styles */

  footer {
    padding: 1rem 1rem;
    background-color: var(--main-accent);
    color: var(--main-background);
    text-align: center;
    margin-top: auto;
  }

  .social-icon {
    margin: 0 1rem;
    transition: transform 0.3s;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
  }
  
  footer p {
    margin-top: 20px;
    margin-bottom: 0;
} 

  footer a {
    color: var(--main-primary);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: var(--main-blue);
  }
  